.swiper {
    width: 100%;
}

.goods__swiper .swiper-pagination-progressbar-fill {
    background: #A5c926 !important;
}

.swiper-pagination-progressbar {
    background: #ddd !important;
    height: 2px !important;
    // width: 136px !important;
}